@import "bootstrap/scss/bootstrap";

.striker {
    text-decoration: line-through;
}

.forms {
    margin-bottom: 100px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center 
}

.col-completed {
    width: 100px;
}

.col-delete {
    width: 50px;
    align-items: 'center';
}